<h1><%= @track.name %></h1>
<%= button_to "Back to #{@track.album_name}", album_url(@track.album_id), method: "get" %>
<%= button_to "Edit", edit_track_url, method: "get" %>
<table width="25%">
    <tr>
        <th>Band</th>
        <th>Album</th>
        <th>Lyrics</th>
    </tr>
    <tr>
        <td><%= @track.band_name %></td>
        <td><%= @track.album_name %></td>
        <td><%= @track.lyrics %></td>
    </tr>
</table>
