<h1>Edit <%= @album.name %></h1>
<form action="<%= album_url(@album) %>" method="post" >
    <input type="hidden" name="_method" value="patch">
    <input type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token %>">
    <label for="album[name]">
        Name: <input type="text"
                     name="album[name]"
                     value="<%= @album.name %>">
    </label>
    <br>
    Band: <select name="album[band_id]">
        <% @bands.each do |band| %>
            <option value="<%= band.id %>"
                    <%= "selected" if band.id == @album.band_id %> >
                <%= band.name %>
            </option>
        <% end %>
    </select>
    <br>
    Recording Type:
    <% @recording_types.each do |type| %>
        <label for="album[recording_type]">
            <input type="radio"
                   name="album[recording_type]"
                   value="<%=type%>"
                   <%= "checked" if @album.recording_type == type %> >
            <%= type.capitalize %>
        </label>
    <% end %>
    <br>
    <%= button_to "Submit change", album_url %>
</form>
<%= button_to "Delete #{@album.name}", album_url, method: "delete" %>
